.accordion {
	margin-bottom: 1.25rem;
	border-radius: 5px;
	max-width: 1023px;
	width: -moz-available;
}

@media screen and (min-width: 768px) {
	.accordion {
		margin-bottom: 2rem;
	}
}

.accordion__title {
	background-color: #ff6060;
	color: white;
	height: 2rem;
	font-size: 0.75rem;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	align-items: center;
	padding: 0 1rem;
}

@media screen and (min-width: 768px) {
	.accordion__title {
		font-size: 1.5rem;
		height: 3rem;
	}
}

.accordion__arrow {
	width: 1rem;
}

@media screen and (min-width: 768px) {
	.accordion__arrow {
		width: 1.5rem;
		padding: 0 1rem;
	}
}

.accordion__content {
	font-weight: 400;
	font-size: 0.75rem;
	color: #ff6060;
	line-height: 1.125rem;
	padding: 1rem;
}

@media screen and (min-width: 768px) {
	.accordion__content {
		font-size: 1.5rem;
		line-height: 2.125rem;
	}
}

.accordion[open] .accordion__arrow {
	transform: rotate(180deg);
}

.accordion[open] {
	background: #f7f7f7;
}
