.footer{
	background-color: black;
	padding: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
}

.footer__copyright{
	color: white;
	font-weight: 500;
	font-size: 24px;
	margin-top: 40px;
}