.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	margin: 30px 0;
}

.header_logo {
	width: 200px;
}

.nav__home, .nav__about{
	font-weight: 500;
	font-size: 24px;
	color: #FF6060;
	text-decoration: none;
	padding: 0 20px 0 20px;
}

.nav__home:hover, .nav__about:hover, .nav__home-active, .nav__about-active{
	text-decoration: underline;
}