.host {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
}

.host__picture {
	border-radius: 100%;
	width: 2rem;
}

@media screen and (min-width: 768px) {
	.host__picture {
		width: 4rem;
	}
}

.host__name {
	color: #ff6060;
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 1.125rem;
}

@media screen and (min-width: 768px) {
	.host__name {
		font-size: 1.125rem;
		line-height: 1.5rem;
	}
}
