.rentalsList {
	display: grid;
	grid-gap: 1.25rem;
	/* justify-items: center; */
}

@media screen and (min-width: 768px) {
	.rentalsList {
		grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
		grid-gap: 3.125rem;
		padding: 3.125rem;
		border-radius: 25px;
		background-color: #f6f6f6;
	}
}
