.tag__box {
	background-color: #ff6060;
	color: white;
	border-radius: 5px;
	min-width: 5.25rem;
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	.tag__box {
		border-radius: 10px;
		min-width: 7.25rem;
	}
}

.tag__content {
	font-weight: 500;
	font-size: 0.6rem;
	line-height: 0.75rem;
	padding: 0.25rem 1.25rem;
	white-space: nowrap;
}

@media screen and (min-width: 768px) {
	.tag__content {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}

.tag__container {
	display: flex;
	gap: 0.6rem;
	margin-top: 0.5rem;
	flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
	.tag__container {
		margin-top: 1.25rem;
	}
}
