.thumb {
	height: 255px;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}

@media screen and (min-width: 768px) {
	.thumb {
		height: 340px;
	}
}

.thumb:hover {
	box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.15);
}

.thumb__cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(70%);
}

.thumb__cover:hover {
	filter: brightness(100%);
}

.thumb__title {
	position: absolute;
	z-index: 2;
	color: white;
	font-weight: 500;
	font-size: 1.125rem;
	bottom: 1.25rem;
	left: 1.25rem;
	width: 90%;
}
